body {
	/*background-color: #2692C1;*/
	height: 100%;
	background-image: url("assets/light-gray-gradient.jpg");
	background-size: cover;
	background-position: center;
}

.bcg {
	background-image: url("http://orig06.deviantart.net/0fca/f/2015/018/0/8/abstract_black_white_line_creative_creative_backgr_by_b17bawmber-d8eenm8.jpg");
	background-position: center center;
	
	
}

